*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body h1{
    color: #fff;
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 400;
    margin: 1.5rem 0;
    text-transform: uppercase;
}
.counter-box{
    padding: 2rem 5rem;
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.counter-box button{
    padding: 1.5rem 2.5rem;
    background-color: #333;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    font-size: 3rem;
    min-width: 150px;
    color: #06daff;
    margin: 1.5rem;
}
.counter-box span{
    color: #06daff;
    font-size: 3rem;
    font-family: sans-serif;
    padding: 1.5rem;
}
.reset{
    width: 640px;
    padding: 1.5rem 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #333;
    border-radius: 15px;
    margin: 1.5rem;
    font-size: 2rem;
    color: #06daff;
}